<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style media="screen">
      #spacer {
        padding: 4px;
      }

      #signup {
        text-align: center;
      }

      #username {
        color: black;
        font-size: 1.5rem;
      }

      .header {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 3rem;
        padding-top: 10%;
      }

      hr {
        border-bottom: 1px solid black;
      }

      nav.navbar{
        background-color: rgba(255,255,255,0.8)!important;
        border-bottom: 1px solid black;
      }

      .subheader {
        text-align: center;
        font-size: 2rem;
        padding-top: 20px;
      }

      .jumbotron {
        background-color: rgba(0,0,0,0.5);
      }

      .jumbo-txt {
        color: white;
        text-shadow: 1px 1px black;
      }

      body {
        background-color: #ADD8E6;
      }
    </style>


      <title>VQ Home - <%= @user.username %></title>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/users/home">Vacation Quest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/users/home">Home <span class="sr-only">(current)</span></a>
        </li>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/plans">Plans <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users/plans/new">Add a New Vacation <span class="sr-only">(current)</span></a>
        </li>


      </ul>
      <form id="btn_space" class="form-inline my-2 my-lg-0">
        <span id="username"><%=@user.username%></span>
        <span id="spacer"></span>
        <span id="spacer"></span>
        <a href="/sessions/logout"><button class="btn btn-outline-danger my-2 my-sm-0" type="button">Log Out</button></a>
      </form>
    </div>
  </nav>
  </head>
  <body>

    <div class="container">
      <h1 class="header">Welcome, <%=@user.username%>!</h1>
      <hr>
      <div class="container">
        <strong><h2>Upcoming Vacation Plans:</h2></strong><br>
        <h5>Want to Add A Vacation? Click: <a href="/users/plans/new"><button class="btn btn-info" type="button" name="button"><strong>Add a Vacation Plan<strong></button></a></h5>

      <% if @destination.length > 0 %>
        <% counter = 1 %>
          <% @destination.order('schedule ASC').each do |plan| %>

            <div class="jumbotron">
              <% link = "https://unsplash.com/s/photos/" %>
              <% location = plan.location %>
              <% img_path = Scraper.get_image(link+location) %>
              <h1 class="text-left jumbo-txt"><%= counter %>. <%= plan.location.split("%20").join(" ") %></h1>
              <h3 class="text-left jumbo-txt">Year of Vacation: <%= plan.schedule %></h3><br>
              <img class="img-fluid rounded-circle" src="<%= img_path %>" alt="">
            </div>
            <% counter += 1 %>
          <% end %>
        <% end %>
      </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
